name: commitlint_cli
description: Commitlint lint commit messages to satisfy conventional commit format
version: 0.6.3
homepage: https://github.com/hyiso/commitlint
documentation: https://hyiso.github.io/commitlint

environment:
  sdk: '>=2.15.0 <3.0.0'

dependencies:
  ansi: ^0.4.0
  args: ^2.3.1
  change_case: ^1.1.0
  path: ^1.8.0
  verbose: ^0.1.0
  yaml: ^3.1.1

dev_dependencies:
  collection: ^1.17.1
  husky: ^0.1.6
  lint_staged: ^0.4.2
  lints: ^2.0.0
  test: ^1.21.0
  uuid: ^3.0.7

lint_staged:
  '**.dart': dart fix --apply && dart format --fix